<%= form_tag('/books/search', :remote => true) do%>
  <table id="post-form">
    <tr>
      <td id="input-title">
        <div class="field">
          <%=text_field_tag(:book, "", :name => 'title', :class => 'input-sm', :tabindex => '1', :placeholder => 'タイトル')%>
        </div>
      </td>
      <td id="input-author">
        <div class="field">
          <%=text_field_tag(:book, "", :name => 'author', :class => 'input-sm', :tabindex => '2', :placeholder => '著者')%>
        </div>
      </td>
      <td id="submit-post">
        <div class="actions">
          <%=submit_tag("検索", :class => 'btn btn-sm', :tabindex => '3')%>
        </div>
      </td>
    </tr>
  </table>
<%end%>
