<h1>Book#display_search</h1>
<p>Find me in app/views/book/index.html.erb</p>
<!-- メモ作成フォーム -->
<%= render 'search_form'%>
<h2>
  検索結果：
  <span id="search_result_count">0</span>件
  <span id="total_count"></span
</h2>
<div id="search_result"></div>
